<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    <%- include('../views/includes/scripts') %>

</head>

<body>

    <main>
        <div class="container">

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">NiceAdmin</span>
                                </a>
                            </div><!-- End Logo -->

                            <% if(typeof success !='undefined' ) { %>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <%= success %>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <% } %>
                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Change Password</h5>
                                        <p class="text-center small">Enter your new password for login.</p>
                                    </div>

                                    <form action="/auth/authChangePassword" method="post" class="row g-3 needs-validation" novalidate>


                                        <div class="col-12">
                                            <label for="password" class="form-label">New Password <span
                                                    style="color: red;">*</span></label>
                                            <div class="input-group has-validation">
                                                <input type="password" class="form-control" id="password"
                                                    onblur="onPasswordChange()" required>
                                                <span class="input-group-text" id="inputGroupPrepend"
                                                    style="cursor: pointer;"><i class="bi bi-eye-slash" id="eye1"
                                                        onclick="changeEye1()"></i></span>

                                            </div>
                                            <span style="color: red;" id="password-err"></span>
                                        </div>

                                        <div class="col-12">
                                            <label for="confirmPassword" class="form-label">Confirm
                                                Password <span style="color: red;">*</span></label>
                                            <div class="input-group has-validation">
                                                <input type="password" name="password" class="form-control"
                                                    onblur="onConfPasswordChange()" id="confirmPassword"
                                                    required>
                                                <span class="input-group-text" id="inputGroupPrepend"
                                                    style="cursor: pointer;"> <i class="bi bi-eye-slash" id="eye2"
                                                        onclick="changeEye2()"></i></span>
                                            </div>
                                            <span style="color: red;" id="confirmPassword-err"></span>
                                        </div>



                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Submit</button>
                                        </div>

                                    </form>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/chart.js/chart.umd.js"></script>
    <script src="/vendor/echarts/echarts.min.js"></script>
    <script src="/vendor/quill/quill.min.js"></script>
    <script src="/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/vendor/tinymce/tinymce.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
    <script src="/js/validation.js"></script>

</body>

</html>